/* Write your CSS here */
* {
  box-sizing: border-box;
}

.main-bg-container {
}

.app-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding-top: 30px;
  width: 90%;
  max-width: 800px;
  margin: auto;
}

.app-heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 36px;
  margin-bottom: 15px;
}
.top-section-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .top-section-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .app-heading {
    font-size: 50px;
  }
}
.comments-image {
  width: 80%;
  align-self: center;
  max-width: 400px;
}
@media screen and (min-width: 768px) {
  .comments-image {
    order: 1;
    margin-left: 50px;
    align-self: flex-end;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-text {
  color: #475569;
  font-family: 'Roboto';
  /* font-size: 16px; */
  font-weight: 500;
}
.name-input {
  border: 1px solid #cbd2d9;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  padding-left: 15px;
  cursor: pointer;
  outline: none;
}
.comment-input {
  border: 1px solid #cbd2d9;
  border-radius: 3px;
  width: 100%;
  padding: 10px;
  padding-left: 15px;
  cursor: pointer;
  outline: none;
}
.add-comment-button {
  background-color: #0284c7;
  border: none;
  color: #ffffff;
  font-size: 14px;
  padding: 6px 14px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}
.separator {
  width: 100%;
  border: 1px solid #cbd2d9;
  margin-top: 15px;
}
* {
  /* border: 1px solid red; */
}
.comments-count-container {
  display: flex;
  align-items: center;
}
.count-text {
  padding: 5px 10px;
  background-color: #0284c7;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  font-size: 16px;
}

.comments-text {
  color: #334155;
  font-family: 'Roboto';
  font-size: 18px;
  margin-left: 8px;
}
@media screen and (min-width: 768px) {
  .comments-text {
    font-size: 15px;
  }
  .count-text {
    font-size: 14px;
    padding: 4px 10px;
  }
}
.comments-list {
  padding: 0;
  list-style-type: none;
}
